html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand {
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
    
}

.btn-admin-1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 10vh;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    height: 50px;
    width: 50%;
}

.btn-admin-2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 20vh;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    height: 50px;
    width: 50%;
}

.website-logo {
    filter: drop-shadow(0 0 10px #e60073) drop-shadow(0 0 35px #e60073)
}

.navbar {
    padding: 0 3rem;
    background-color: #3b444b;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.search-container {
    display: flex;
    align-items: center; 
    width: 100%;
}

.search-box {
    flex: 1;
    min-width: 150px;
    max-width: 600px;
    border: 1px solid #212529;
    padding: 10px 15px;
    border-radius: 50px;
    outline: none;
    background-color: #3b444b;
    color: white;
    box-sizing: border-box;
}

/* Адаптивность */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column; 
        align-items: stretch;
    }

    .search-box {
        width: 100%;
    }
}

.btn-search {
    border: 2px solid black;
}

.search-box::placeholder {
    color: white;
}

.grid-menu {
    transform: translateX(75%) !important;
    left: auto !important;
    right: 0 !important;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-content: center;
}

.authorization {
    color: white;
}

.authorization:hover {
    color: darkgray;
}

.button {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.btn {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-font-size: 0.95rem;
    --bs-btn-bg: none;
}

.btn:hover {
   --bs-btn-hover-bg: #212529;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.products img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
        
}

.secret-mita {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    overflow: hidden;
    z-index: 100;
    transition: height 0.8s ease-out, transform 0.8s ease-out;
}

.image-mita {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(80%);
    transition: transform 0.35s ease-out;
    cursor: pointer;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.image-mita.clicked {
    transform: translateY(0);
    cursor: default;
}
