body {
    margin-bottom: 60px;
}

.btn-primary:hover {
    background-color: #828181;
}

.banner-container {
    max-width: 800px;
    max-height: 220px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.banner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots-container {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.dot.active {
    background: white;
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}


.cart-item-header, .cart-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cart-item-header-block, .cart-item-block {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0;
}

.cart-item-block img {
    border-radius: 10px;
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* Loader styling */
.loader {
    width: 24px;
    aspect-ratio: 1;

    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, transparent);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 4) 50%;

    animation: l3 1s infinite linear;
    margin-right: 4px; /* Space between loader and text */
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%,100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%,100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%,100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%,100% 100%
    }
}