body {
    margin-bottom: 60px;
}

.btn-primary:hover {
    background-color: #828181;
}

.banner-container {
    max-width: 800px;
    max-height: 220px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.banner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots-container {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.dot.active {
    background: white;
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}