@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/lib/slick/slick.css" />
<link rel="stylesheet" href="/lib/slick/slick-theme.css" />

<div class="banner-container">
    <div class="banner">
        <div class="slide">
            <a href="" alt="image-1">
                <img src="/images/newyearpromo.png">
            </a>
        </div>
        <div class="slide">
            <a href="" alt="image-2">
                <img src="/images/summerdiscount.png">
            </a>
        </div>
        <div class="slide">
            <a href="" alt="image-3">
                <img src="/images/valentinesday.png">
            </a>
        </div>
    </div>

    <div class="dots-container"></div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
