@{
    ViewData["Title"] = "Admin Panel";
}

<a class="" asp-area="Admin" asp-controller="Admin" asp-action="ManageCatFamilies">Manage Cat Families</a>
<a class="" asp-area="Admin" asp-controller="Admin" asp-action="ManageCats">Manage Cats</a>