@{
    ViewData["Title"] = "Admin Panel";
}
<div class = "align-items-center justify-content-center d-flex gap-2">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="ManageCats">Manage Cats</a>
    <a class="btn btn-danger" asp-area="Admin" asp-controller="Admin" asp-action="ManageCatFamilies">Manage Cat Families</a>
</div>
