@{
    ViewData["Title"] = "Admin Panel";
}
<div class = "align-items-center justify-content-center d-flex gap-1">
<a class="btn-admin-1" asp-area="Admin" asp-controller="Admin" asp-action="ManageCats">Manage Cats</a>
<a class="btn-admin-2" asp-area="Admin" asp-controller="Admin" asp-action="ManageCatFamilies">Manage Cat Families</a>
</div>
