@model IEnumerable<KotikiShop.Models.CatFamily>
@{
    ViewData["Title"] = "Manage Cat Families";
	var failureText = TempData["failure"] as string;
}

<h1 style="text-align: center;" class="pt-3">@ViewData["Title"]</h1>
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">Cat Families List</h>
        </div>
        <div class="col-6 text-end" style="padding-right:0;">
            <a asp-controller="Admin" asp-action="CreateCatFamily" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Cat Family
            </a>
        </div>
    </div>
    <br />
</div>

@if (failureText != null)
{
    <div class="alert alert-warning text-center mt-4">
        <strong>Неможливо видалити породу!</strong> До цієї породи притаманний принаймні один кіт.
    </div>
}

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Cat Families</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="80%">
                    @obj.Name
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-primary mx-2" asp-controller="Admin" asp-action="EditCatFamily" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger mx-2" asp-controller="Admin" asp-action="DeleteCatFamily" asp-route-id="@obj.Id"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>