@model IEnumerable<KotikiShop.Models.Cat>
@{
    ViewData["Title"] = "Manage Cat Families";
}

<h1 style="text-align: center;" class="pt-3">@ViewData["Title"]</h1>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">Cat List</h>
        </div>
        <div class="col-6 text-end" style="padding-right:0;">
            <a asp-controller="Admin" asp-action="CreateCat" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Cat
            </a>
        </div>
    </div>
    <br />
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Cat name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
                <tr>
                    <td width="80%">
                    @obj.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a class="btn btn-primary mx-2" asp-controller="Admin" asp-action="EditCat" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a class="btn btn-danger mx-2" asp-controller="Admin" asp-action="DeleteCat" asp-route-id="@obj.Id"><i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>