@{
    ViewData["Title"] = "Home Page";
}
<h1>MAKSIM LYBIT MIRU</h1>
<div class="container">
    <div class="products">
        <img src="https://avatarfiles.alphacoders.com/375/375214.png">
        <img src="https://avatarfiles.alphacoders.com/155/155507.jpg">
        <img src="https://avatarfiles.alphacoders.com/988/thumb-1920-98825.jpg">
    </div>
</div>
