@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/lib/slick/slick.css" />

<div class="container">
    <section class="gallery slider">
        <div class="slide">
            <img src="/images/newyearpromo.png">
        </div>
        <div class="slide">
            <img src="/images/summerdiscount.png">
        </div>
    </section>

    <div class="dots-container"></div>
</div>

<!--<script src="/js/index.js" asp-append-version="true"></script>-->
<script src="/lib/slick/slick.min.js" asp-append-version="true"></script>