@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="/css/style.css" asp-append-version="true" />

<div class="form-container">
    <h1 class="form-title text-light">Login</h1>
    <div class="form-group">
        <input class="input-username" placeholder="Username">
    </div>
    <div class="form-group">
        <input class="input-password" placeholder="Password">
    </div>
    <button class="btn btn-primary">Proceed</button>
</div>
