@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="products">
        <img src="https://cdn.openart.ai/stable_diffusion/58a54bc2a1df0563b6794c46d53dd25806b434d0_2000x2000.webp">
        <img src="https://freepngimg.com/thumb/kitten/30387-2-kitten-transparent-image.png">
        <img src="https://avatarfiles.alphacoders.com/988/thumb-1920-98825.jpg">
    </div>
</div>
